$highlight: #34363e;
$offset-highlight: lighten($highlight, 30%);

$tablet-min-width: "(min-width: 38em)";
$desktop-min-width: "(min-width: 48em)";

@mixin media-query($media-query) {
  @media #{$media-query} {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}