<header class="site-head js-site-head">
  <nav class="site-nav">
    <a href="#top" class="site-nav__item site-nav__item--home">
      Paul Gale
    </a>
    <a href="#portfolio" class="site-nav__item">
      Portfolio
    </a>
    <a href="#about" class="site-nav__item">
      About
    </a>
    <a href="#contact" class="site-nav__item">
      Contact
    </a>
  </nav>
</header>

<section class="intro" id="top">
  <div class="intro__inner">
    <h1 class="intro__title">Paul Gale</h1>
    <span class="intro__sub-line">Comedian. Filmmaker. Human.</span>

    <a href="#portfolio" class="intro__cta">See the work</a>
  </div>
</section>

<section class="portfolio" id="portfolio">
  <div class="portfolio__inner">
    <div class="portfolio__item">
      <h2 class="portfolio__item__title">Why Starbucks Spells Your Name Wrong</h2>
      <div class="portfolio__item__inner">
        <iframe width="560" height="315" src="//www.youtube.com/embed/hPbrlNsMTg4?showinfo=0&rel=0&title=&autohide=1&wmode=transparent&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="portfolio__item">
      <h2 class="portfolio__item__title">The Truth About Hookups</h2>
      <div class="portfolio__item__inner">
        <iframe width="560" height="315" src="//www.youtube.com/embed/82vvk9MKPkU?showinfo=0&rel=0&title=&autohide=1&wmode=transparent&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="portfolio__item">
      <h2 class="portfolio__item__title">The Truth About Being Single</h2>
      <div class="portfolio__item__inner">
        <iframe width="560" height="315" src="//www.youtube.com/embed/fmE4NU4ljUg?showinfo=0&rel=0&title=&autohide=1&wmode=transparent&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="portfolio__item">
      <h2 class="portfolio__item__title">Her Parody: Him (ft. "Seth Rogen")</h2>
      <div class="portfolio__item__inner">
        <iframe width="560" height="315" src="//www.youtube.com/embed/6qE2wxDaVWY?showinfo=0&rel=0&title=&autohide=1&wmode=transparent&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="portfolio__item">
      <h2 class="portfolio__item__title">Pigeon Pick Up Artist</h2>
      <div class="portfolio__item__inner">
        <iframe width="560" height="315" src="//www.youtube.com/embed/Ga8i-ifgNwM?showinfo=0&rel=0&title=&autohide=1&wmode=transparent&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="portfolio__item">
      <h2 class="portfolio__item__title">Fake Purell Commercial</h2>
      <div class="portfolio__item__inner">
        <iframe width="560" height="315" src="//www.youtube.com/embed/jNCPMLzkLzM?showinfo=0&rel=0&title=&autohide=1&wmode=transparent&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="about__inner">
    <%= image_tag "paul-gale.jpg", alt: "Paul Gale", class: "about__image" %>
    <div class="about__copy">
      <h1 class="about__title">About Paul</h1>
      <p class="about__content">
        Paul Gale is a comedian, filmmaker, and human. His short films have been featured on the front pages of Reddit, BuzzFeed, and USA Today, as well as NBC’s The TODAY Show. His video, "<a href="https://www.youtube.com/watch?v=hPbrlNsMTg4">Why Starbucks Spells Your Name Wrong</a>" received 7 million views in its first week of release. Paul is a YouTube channel partner at Broadway Video’s Above Average, and his short films have garnered over 11 million total views in 2014.
      </p>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <div class="contact__inner">
    <h1 class="contact__title">Get in touch</h1>
    <p class="contact__content">
      <a href="mailto: paulgalecomedy@gmail.com">paulgalecomedy@gmail.com</a><br>
      (732) 806-0031
    </p>
  </div>
</section>

<section class="social" id="social">
  <a href="https://twitter.com/impaulgale" class="social-icon--twitter">
    <span class="social-icon__text">Twitter</span>
  </a>
  <a href="http://instagram.com/impaulgale" class="social-icon--instagram">
    <span class="social-icon__text">Instagram</span>
  </a>
  <a href="https://www.facebook.com/paulgalecomedy" class="social-icon--facebook">
    <span class="social-icon__text">Facebook</span>
  </a>
  <a href="https://www.youtube.com/paulgalecomedy" class="social-icon--youtube">
    <span class="social-icon__text">Youtube</span>
  </a>
</section>