<section class="sign-up">
  <header class="sign-up__header">
    <h1 class="sign-up__header__title">
      <a href="/">
        Paul Gale Comedy
      </a>
    </h1>
  </header>

  <div class="sign-up__inner js-sign-up-form">
    <h1 class="sign-up__title">Sign up</h1>
    <p class="sign-up__copy">
      Enter your email, and you'll get access to:
    </p>
    <p class="sign-up__copy">
      - The Halloween Behind The Scenes<br>
      - A "pay what you want" download of the original soundtrack
    </p>

    <form class="sign-up-form js-sign-up"
      action="//facebook.us2.list-manage.com/subscribe/post?u=5ee6508baf1ef02df89d55872&amp;id=47477341d8"
      method="post">
      <fieldset class="sign-up-form__fieldset">
        <div class="sign-up-form__field">
          <label class="sign-up-form__label" for="email">Your email address</label>
          <input type="email" name="EMAIL" id="email" class="sign-up-form__input" placeholder="">
        </div>
        <div class="sign-up-form__field">
          <input type="submit" value="Sign up now" class="sign-up-form__btn">
        </div>
      </fieldset>
    </form>
  </div>

  <div class="sign-up__inner js-sign-up-content is-hidden">
    <div class="sign-up-content">
      <h1 class="sign-up__title">Thanks for signing up!</h1>
      <p class="sign-up__copy">
        Here are those things I promised. Enjoy!
      </p>

      <div class="sign-up-content__video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/PTEtUVBLRDQ" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="sign-up-content__gum-road">
        <a href="https://gum.co/halloweenpgc" class="sign-up-content__gum-road__btn">Get the official soundtrack</a>
      </div>

    </div>
  </div>

</section>

<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>